---
import type { GetStaticPaths } from "astro";
import Layout from "@layouts/Layout.astro";
import PokemonCard from "@components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "@interfaces/pokemon-list-response";

export const getStaticPaths = (async () => {
  const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
  const { results } = (await resp.json()) as PokemonListResponse;

  return results.map(({ name, url }) => ({ params: { name }, props: { url } }));
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;
const id = url.split("/").at(-2);
const imgSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
const capitalizedName =
  name.charAt(0).toUpperCase() + name.slice(1).toLowerCase();
---

<Layout
  title=`Pokemon - #${id} ${capitalizedName}`
  description=`Information about the pokemon ${capitalizedName}`
  image={imgSrc}
>
  <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <a href="/" class="hover:underline text-blue-500 mb-10">Go back</a>
    <PokemonCard name={name} , url={url} , standAlone />
  </section></Layout
>
